* {
  margin: 0px;
  padding: 0;
}

:root {
  --primaryColor: darkred;
  --secondaryColor: white;
  --tertiary-color: black;
}
.title_n_cover_pic {
  /* align-items: center the item vertically
     justify-content: center the item horizontally
    - when both align items and justify contents are used, the words are centered right in the middle of the image */
  min-height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./RWBY_Images/RWBY_main_photo.png");
  /* image is included as the background */
  background-size: cover;
  background-position: center;
  color: var(--secondaryColor);
  font-size: 100px;
  letter-spacing: 10rem;
  text-shadow: 1px 1px 15px white;
  font-weight: bold;
}
body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tabs {
  background-color: darkred;
  width: 24%;
  font-size: 32px;
  display: inline-block;
  padding: 0;
  margin: 0 5px 0 5px;
  text-align: center;
  text-justify: center;
  border-radius: 10px;
}

.tab_item {
  /* When color:white was put in tabs, the font color did not change. Only changed when it was put in menu which is more specific than tab. specificity rule? 
- Same ofr text decoration*/
  color: white;
  text-decoration: none;
}
.tabs a.tab_item:hover {
  /* .classname elelemt.morespecificclassname */
  text-shadow: 1px 1px 15px white;
  text-decoration: underline;
}
.menu a.main-nav-item:hover {
  color: red;
}

.break {
  height: 20px;
}
/*----------- CHARACTERS CODE------------ */

.characters_table {
  margin: auto;
}

.character_pic {
  /* "display flex: is CRITICAL in order to align the words in the center vertical and horizontally */

  min-height: 495px;
  min-width: 520px;
  padding: 0;

  /* align the words in the center */
  color: white;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.character_name {
  text-transform: uppercase;
  min-height: 495px;
  min-width: 520px;
}

.character_info {
  max-height: 70px;
  max-width: 520px;
  /* transform: translateY(-300px); */
  font-family: "Courier New", Courier, monospace;
}
/* experiment with texts and hovering */
.character_pic p.character_name:hover {
  display: none;
}
#ruby_pic {
  background: linear-gradient(rgba(255, 25, 52, 0.5), rgba(255, 255, 255, 0.7)),
    url("./RWBY_Images/ruby_character_profile.png");
  background-repeat: no-repeat;
}

#ruby_info {
  color: rgb(216, 125, 125);
}
#ruby_pic:hover {
  /* hover works with id too */
  background: url("./RWBY_Images/ruby_gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* .character_info p.info_text:hover {
  display: none;
} */
#weiss_pic {
  background: linear-gradient(rgba(25, 25, 112, 0.8), rgba(255, 255, 255, 0.7)),
    url("./RWBY_Images/weiss_profile_pic.jpg");
}
#weiss_info {
  color: rgb(77, 78, 158);
}
#weiss_pic:hover {
  background: url("./RWBY_Images/weiss_gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#blake_pic {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.7)),
    url("./RWBY_Images/blake_profile_pic.jpg");
  background-repeat: no-repeat;
  display: cover;
}
#blake_info {
  color: rgb(74, 74, 83);
}
#blake_pic:hover {
  background: url("./RWBY_Images/blake_gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#yang_pic {
  background: linear-gradient(rgb(197, 197, 0.5), rgba(255, 255, 255, 0.5)),
    url("./RWBY_Images/yang_profile_pic.jpg");
}
#yang_info {
  color: rgb(150, 140, 7);
}
#yang_pic:hover {
  background: url("./RWBY_Images/yang_gif.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*----------- BEHIND THE SCENE CODE------------ */
/* .creator_info {
  max-height: auto;
  max-width: auto;
  border-bottom-style: dotted;
} */

.titles {
  color: var(--tertiaryColor);
}
.rwby_team_info {
  overflow: hidden;
  width: 650px;
}
.people_info {
  float: left;
  margin-right: 50px;
  border-radius: 15%;
  /* rounded the edges of the images */
}
.name {
  font-weight: bold;
  font-size: 20px;
  text-decoration-line: underline;
}

.table_title {
  background-color: rgba(180, 9, 29, 0.7);
  height: auto;
  width: auto;
}
.table_rows {
  font-weight: normal;
}
/*----------- PROJECT INFO CODE------------ */
.courtesy_section {
  margin: 10px 0px 0px 30px;
}

.links a {
  text-decoration: none;
  color: blue;
}

.links a:visited {
  color: var(--primaryColor);
}
